<div class="container text-center">
    <button class="btn btn-white btn-lg  btn-outline-primary buttonClass text-white" data-toggle="collapse"
     data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
     <!-- <img class="card-img-top" src="https://thumbor.forbes.com/thumbor/fit-in/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fi.forbesimg.com%2Fmedia%2Flists%2Fcompanies%2Fvirtusa_416x416.jpg" alt="Card image cap"> -->
     <span class="fa fa-angle-right"></span>
     VIRTUSA
    </button>

    <div class="collapse" id="collapseExample">
        <div class="card text-white bg-dark">  
            <!-- <h5 class="card-title">Experience</h5> -->
            <div class="card-body">
                Associate Software Engineer
            </div>
            <div class="card-body">
                <h6 class="card-subtitle text-muted">19-Aug-2019 To 30-May-2021</h6>
            </div>
            <h5 class="card-title">Roles and Resposibility</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Backend and Frontend Developer</h6>
                <p class="card-text">
                    Rest Api's,CRUD Operations,Spring Security - JWT, UI(Angular 8,BootStrap V4)
                </p>
            </div>
        </div>
    </div>
</div>
