
<div class="container text-center">
<button class="btn btn-primary buttonClass" type="button" data-toggle="collapse" data-target="#contact">
    <span class="fa fa-angle-right"></span>Contact</button>

<div id="contact" class="collapse card">
<div class="card-body text-white bg-dark">
    <div class="card-title">
       Contact Details
    </div>
    <table class="w-100">
        <tr>
            <th>Mobile No</th>
            <td>+91 8008744742</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>vemireddyarunkreddy@gmail.com</td>
        </tr>
    </table>
</div>
</div>
</div>
