<div id="intro-example" class="p-5 text-center bg-image" style="
      background-image: url('https://wallpaperaccess.com/full/435901.jpg');">
  <div>
    <h2 class="headtwo">
      <span>
      Hi I am Arun
    </span>
    </h2>
  </div>
  <div class="mask" style="background: linear-gradient(
      45deg,
      rgba(236, 163, 29, 0.7),
      rgba(45, 45, 46, 0.7) 100%
    );">

    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Career Objective</h1>
        <h4 class="mb-3">To pursue a job opportunity in a competitive environment that
          will challenge me to push my boundaries and expand my knowledge in the field of computer
          science while allowing me to add value to the dynamics of the company.</h4>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center align-items-center h100">
    <div class="outer button ">
      <a href="assets/New Resume.pdf" role="button" target="_blank">
        Click to Download Resume</a>
      <span>
      </span>
      <span></span>
    </div>
  </div>

</div>